apiVersion: apps/v1
kind: Deployment
metadata:
  name: management-api
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: management-api
  template:
    metadata:
      labels:
        app: management-api
    spec:
      imagePullSecrets:
        - name: ghcr-secret
      containers:
        - name: management-api
          image: ghcr.io/drewlane-dev/smarthome-management-api:latest
          ports:
            - containerPort: 5000
---
apiVersion: v1
kind: Service
metadata:
  name: management-api
  namespace: default
spec:
  type: NodePort
  selector:
    app: management-api
  ports:
    - port: 5000
      targetPort: 5000
      nodePort: 30500
